# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ dev ]

    

defaults:
  run:
    working-directory: ./biddingApi/biddingApi

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - run: cd ~/actions-runner/deploy/biddingApi/biddingApi/biddingApi/biddingApi/
    - run: sudo docker container stop biddingContainer || true
    - run: sudo docker container rm biddingContainer|| true
    - run: sudo docker image rm bidding || true
    - run: sudo docker build -t bidding .
    - run: sudo docker run -p 8080:8080 --name biddingContainer bidding | echo "success" 
